<!DOCTYPE html>
<html lang="en" class="amoled">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>macedonga (Marco Ceccon)</title>
    <meta name="title" content="macedonga (Marco Ceccon)">
    <meta name="description" content="My website">
    <meta name="keywords" content="macedonga, Marco Ceccon, Ceccon, Marco, developer, portfolio">
    <meta name="author" content="Marco Ceccon">
    <meta name="copyright" content="">
    <meta http-equiv="Reply-to" content="me@macedon.ga">
    <meta http-equiv="content-language" content="EN">
    <meta http-equiv="Content-Type" content="text/html; us-ascii">
    <meta name="robots" content="INDEX,NOFOLLOW">
    <meta name="creation_Date" content="01/24/2021">
    <meta name="revisit-after" content="7 days">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://macedon.ga">
    <meta property="og:title" content="macedonga (Marco Ceccon)">
    <meta property="og:description" content="My website">
    <meta property="og:image" content="https://cdn.macedon.ga/p.n.g.r.png">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="@_macedonga_">
    <meta property="twitter:url" content="https://macedon.ga">
    <meta property="twitter:title" content="macedonga (Marco Ceccon)">
    <meta property="twitter:description" content="My website">
    <meta property="twitter:image" content="https://cdn.macedon.ga/p.n.g.r.png">
    <link href="assets/css/base.css" rel="stylesheet">
    <link href="assets/css/theme.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/" rel="preconnect">
    <link rel="manifest" href="/manifest.webmanifest">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>

<body>
    <noscript>bruh, who the hell disables js on webpages?!</noscript>
    <button onclick="toggleTheme()" class="theme" aria-label="Theme changer"><i class="fas fa-sun "></i></button>
    <div class="discord">
        <div class="avatar-container <%=discord.status%>">
            <a href="https://discord.com/users/705080774113886238 ">
                <img class="avatar" alt="PFP" src="<%=discord.avatar %>">
        </a>
            <% if(discord.name) { %>
                <div class="status-container">
                    <img alt="Status emoji" src="<%=discord.e_url %>">
                    <div class="text">
                        <p>
                            <%=discord.name %>

                        </p>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
    <h1>Marco Ceccon</h1>
    <h2>@macedonga</h2>
    <div class="socials">
        <a href="https://github.com/macedonga">
            <p style="display:none">GitHub</p><i class="fab fa-github"></i></a>
        <a href="https://twitter.com/_macedonga_">
            <p style="display:none">Twitter</p><i class="fab fa-twitter"></i></a>
        <a href="https://discord.com/users/705080774113886238">
            <p style="display:none">Discord</p><i class="fab fa-discord"></i></a>
        <a href="mailto:me@macedon.ga">
            <p style="display:none">E-mail</p><i class="fas fa-envelope-open"></i></a>
    </div>
    <div class="content">
        <h2>👋 Hi, I'm Marco.</h2>
        <p>Not a full-stack developer<br>I'm currently
            <%= status %> on Discord.</p>
        <h2>🔧 My skills</h2>
        <p>I can code in C#, Python (eww), Node.JS, PHP and I can make simple website like this one.<br>I have experience with MongoDB, MySQL, Express, EJS, Discord.JS, SolidWorks and KeyShot.</p>
        <h2>⚙️ Recent projects:</h2>
        <div class="projects">
            <div class="project">
                <p>USERD<br> Bots on Discord and Telegram.<br>
                    <a href="https://userd.xyz">Website</a></p>
            </div>
            <div class="project">
                <p>urmom.js<br>A JS library that detects if there is a "ur mom" or a "yo mama" joke with AI.<br>
                    <a href="https://urmom.js.org">Website</a></p>
            </div>
        </div>
        <div class="projects">
            <div class="project">
                <p>Covogo<br> An AI in search of internet scams.<br>
                    <a href="https://covogo.thisisascam.xyz">Website</a></p>
            </div>
            <div class="project">
                <p>A reddit bot list<br>Just another reddit bot list<br>
                    <a href="https://reddit.userd.xyz">Website</a></p>
            </div>
        </div>
        <h2>🎙️ A geek joke for you:</h2>
        <p>
            <%=joke.setup%><br><i><%=joke.punchline%></i></p>
        <h2>🎵 I'm currently listening to:</h2>
        <div class="spotify-container">
            <div class="spotify">
                <img class="spotify-image" alt="Album cover" src="<%=spotify.image || " assets/images/placeholdermusic.png "%>">
                <div class="spotify-info">
                    <a href="<%=spotify.song_url || " # "%>">
                        <p class="spotify-name">
                            <%=spotify.song_name || "Nothing"%>
                        </p>
                    </a>
                    <p class="spotify-artist">
                        by
                        <%=spotify.artist || "‎Nobody"%>
                    </p>
                    <div class="progress">
                        <div class="bar"></div>
                    </div>
                </div>
            </div>
        </div>
        <% if(discord.game) { %>
        <h2>🎮 I'm currently using:</h2>
        <h2></h2>
        <div class="spotify-container">
            <div class="game">
                <img class="game-image" alt="Album cover" src="<%=discord.game.imageLink || " assets/images/placeholdergame.png "%>">
                <div class="game-info">
                    <p class="game-name">
                        <%=discord.game.name || "Nothing"%>
                    </p>
                    <p class="game-artist">
                        <%=discord.game.desc || ""%>
                    </p>
                </div>
            </div>
        </div>
        <% } %>
        <h2>🎵 My 24/7 Lo-Fi Twitch stream:</h2>
        <iframe src="https://player.twitch.tv/?channel=macedonga&parent=macedon.ga" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
    </div>
    <footer>
        <hr>
        <p>Website made by <a href="https://github.com/macedonga">macedonga</a> not with ❤️, but with a 💻</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src=" assets/js/theme.js "></script>
    <script src="assets/js/spotify.js"></script>
    <script>
        if ("serviceWorker" in navigator) {
            navigator.serviceWorker.register('worker.js').then(function(registration) {
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }).catch(function(err) {
                console.log('ServiceWorker registration failed: ', err);
            });
        }
    </script>
    <script>
        spotify("<%=spotify.duration_ms||1 %>", "<%=spotify.progress_ms||1 %>")
    </script>
</body>

</html>
